<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter Check</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div id="main-body">
        <h1>Preeti's Chapter Checker</h1>
        <div id="summary">
            <h2>Books I've read!!</h2>
            This page entails <b>my</b> notes and thoughts about the books I've read for a really longgg time. Fair warning: It is not meant to hurt or offend anyone, as I said these are my opnions, and the special thing about books is that we can all have our own interpretation and thoughts about them. So, I would urge everyone reading to not take this personally. <br>
            Additionally I would like to to add that I cannot gurantee good recommendations, I am quite weird! So if there is something I've liked I am not sure whether or not you will like it too. (More likely you won't lol).
        </div>
        <form action="/new" method="post">
            <input type="submit" name="add" value="+ New Review" id="add-new"> 
        </form>


        <a href="about.ejs">About us</a>
    </div>
</body>
<footer>
    
</footer>
</html>